* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.box {
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

#appname {
    color: black;
}

.title {
    color: #bdc3c7;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.main-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 20px;
}

.request-log {}

.request-log {}

.other {}

.requests {
    background-color: #1abc9c;
    width: 400px;
    height: 300px;
}

.requests_second {
    background-color: #3498db;
    width: 400px;
    height: 300px;
}

.cpu {
    background-color: #9b59b6;
    width: 400px;
    height: 300px;
}

.kb-sec {
    background-color: #9b59b6;
    width: 400px;
    height: 300px;
}

.memory {
    background-color: #34495e;
    width: 400px;
    height: 300px;
}

.load_average {
    background-color: #f1c40f;
    width: 400px;
    height: 300px;
}

.idle {
    background-color: #e67e22;
    width: 400px;
    height: 300px;
}
