
    <div class="main-container">
        <div class="request-log">
            <div class="requests">
              <div class="title">
                 Requests
              </div>
              <div class="box">
                   56
              </div>
            </div>
            <div class="requests_second">
                <div class="title">
                    Requests/sec
                </div>
                <div class="box">
                     4
                </div>
            </div>
        </div>
        <div class="hardware">
            <div class="cpu">
                <div class="title">
                    CPU usage
                </div>
                <div class="box">
                     33 %
                </div>
            </div>
            <div class="memory">
                <div class="title">
                    Memory Usage
                </div>
                <div class="box">
                     9 GB
                </div>
            </div>

        </div>
        <div class="other">
            <div class="load_average">
                <div class="title">
                    Load Average
                </div>
                <div class="box">
                     4.7
                </div>
            </div>
            <div class="idle">
                <div class="title">
                    Idle workers
                </div>
                <div class="box">
                     60
                </div>
            </div>
        </div>
    </div>
