<div class="main-box">
    <div class="main-box-children-1">1</div>
    <div class="main-box-children-2">2</div>
    <div class="main-box-children-3">3</div>
    <div class="main-box-children-4">4</div>
</div>
